body {
    font-family: 'Georgia', serif;
    background-color: #2b2b2b;
    color: #eaeaea;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #eaeaea;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #eaeaea;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    color: #b5a7a7;
}

